#employeeTable {
    border-collapse: collapse;
    margin: 50px auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

#employeeTable thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

#employeeTable th,
#employeeTable td {
    padding: 12px 15px;
}

#employeeTable tbody tr {
    border-bottom: 1px solid #dddddd;
}

#employeeTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#employeeTable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}